@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    align-content: center;
}

img{
    width: 50px;
    border-radius: 50%;
}
 
.container{
    margin: 0px auto;
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}

.cut-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px 3px #e2e2e2 ;
    padding: 10px 15px;
    border-radius: 7px;
}

.profile{
    display: flex;
    gap: 1rem;
}

.name{
    display: flex;
    flex-direction: column;
}

.cut-card h2{
    color: #333;
}

.cut-card p{
    color: #777;
    font-size: 1rem;
    font-weight: 550;
}

.cut-card button{
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
}

.uncut-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 20px ;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 3px #e2e2e2;
}

.uncut-card h2{
    color: #333;
    padding-top: 15px;
}

.uncut-card p{
    color: #777;
    font-size: 0.85rem;
    padding-bottom: 30px;
}

.uncut-card .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uncut-card button{
    border: none;
    padding: 10px;
    border-radius: 6px;
}

.uncut-card .more button{
    width: 100px;
    background-color: #003cff;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 550;
}

.uncut-card button:hover{
    background-color: #999;
    transition: 0.3s ease all;
}

.uncut-card .more button:hover{
    background-color: #082da8;
    transition: 0.3s ease all;

}
