@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"); 

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;align-content: center;
    background-color: #fff;
}

.card{
    margin: 0px auto;
    box-shadow: 0px 0px 20px 3px #d8d8d8;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.profile img{
    width: 100px;
    border-radius: 50%;
    margin: 20px 0px ;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name h2{
    font-weight: 500;
    font-size: 1.3rem;
}

.name p{
    font-size: 0.9rem;
    font-weight: 550;
    color: #999;
    margin-top: 5px;
}

.percent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 30px 30px 30px;
}

.percent hr{
    width: 2px;
    background-color:#cecdcd;
    border: none;
    margin: 0px 20px;
}

.percent .tag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px 30px;
    border-radius: 10px;
}

.tag i{
    font-size: 2.2rem;
}

.tag p{
    padding-top: 10px;
    font-weight: 550;
}

.tag:hover{
    box-shadow: 0px 0px 8px 3px #dfdede;
    transition: 0.4s ease all;
}

.follower{
    color: #19d612;
}

.follow{
    color: #ffd900;
}

.bg1{
    background-color: #b5ffb2;
}

.bg2{
    background-color: #fff2a9;
}

a{
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 550;
    color: #1260d6;

}
